$color-primary: #18476d;
$color-primary-light: #205f93;
$color-primary-dark: #18476d;
$color-primary-light-2: #18476d;

$color-second: #1e1e1e;
$color-second-light: #3e3e3e;
$color-second-dark: #1e1e1e;

$color-tertiary: #724b1f;
$color-tertiary-light: #724b1f;
$color-tertiary-dark: #724b1f;

$color-grey: #777777;
$color-grey-light-1: #d6d6d6;
$color-grey-light-2: #f4f2f1;
$color-grey-dark-1: #333;

$color-white: #fff;
$color-black: #000;
$color-orange: #ff8c00;
