#pagination {
    width: 100%;
    background: #F1F2F2;
    border-radius: 0;
    svg {
        width: 20px;
        height: 20px;
    }
    .pagination {
        margin: 0px auto;
        display: table;
        .page-link {
            background: transparent;
            background-color: transparent;
            border: none;
            border-radius: 0;
            color: #333;
        }
        li {
            float: left;
            padding: 5px 10px;
            @media(max-width: 768px) {
                padding: 5px 10px;
            }
            &.active,
            &:hover,
            &:focus {
                border-bottom: 3px solid green;
            }
            &.dis {
                display: none;
            }
        }
    }
}

#paginate {
    &.style1 {
        .item {
            padding: 5px 15px;
            margin-right: 8px;
            border: 1px solid #ddd;
            font-size: 15px;
            line-height: 23px;
            font-weight: bold;
            cursor: pointer;
            &.active,
            &:hover,
            &:focus {
                background-color: orangered;
                color: white;
            }
        }
    }
}