.video_item {
    position: relative;
    .thumb {
        .shade {
            position: absolute;
            top: calc(50% - 29px);
            left: calc(50% - 30px);
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #00000061;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                fill: white;
                width: 20px;
                height: 20px;
                transform: rotate(90deg);
            }
        }
    }
    .video2 {
        overflow: hidden;
        .thumb {
            width: 150px;
            height: 80px;
            margin-right: 15px;
            float: left;
        }
        h2 {
            font-size: 18px;
            line-height: 26px;
        }
    }
}